ion-toolbar {
    --background: #2F5D62;
}
ion-title {
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
    font-size: larger;
}
ion-content{
    --background: #DFEEEA;
}
