.icon-image {
    font-size: 3rem;
}
.title {
    // padding-right: 30rem;
    font-size: 20px;
    font-weight: 800;
    margin-top: 1.7%;
}

ion-toolbar {
    --background: #1a1a40;
    color: wheat;
}
.navtitle{
    background-color: #3c3c54;
}
.navbar1 {
    color: #fff;
    font-family: inherit;
    font-weight: 700;
    font-size: 20px;
    padding-left: 12px;
    white-space: nowrap;
}
.navbar {
    color: #1a1a40;
    font-family: inherit;
    font-weight: 700;
    font-size: 12px;
    padding-left: 12px;
    white-space: nowrap;
}
ion-content{
    
}
