<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            <div class="ion-margin-top">
                <ion-col class="navbar1">World Environment</ion-col>
            </div>
        </ion-title>
    </ion-toolbar>
    <div class="ion-margin-top">
        <!-- <ion-col class="navbar">
            <ion-icon name="reorder-three-outline"></ion-icon>
        </ion-col> -->
        <ion-col class="navbar">Fashion</ion-col>
        <ion-col class="navbar">Electronics</ion-col>
        <ion-col class="navbar">Books</ion-col>
        <ion-col class="navbar">Mobiles</ion-col>
        <ion-col class="navbar">Electronics</ion-col>
        <ion-col class="navbar">Electronics</ion-col>
        <ion-col class="navbar">Electronics</ion-col>
    </div>
</ion-header>
<ion-content>
    
</ion-content>